/* Generic board style */
.Board {
  box-sizing: border-box;
  display: grid;
  margin: 100px 0;
}

.Grid__container {
  box-sizing: border-box;
  margin: 0 auto;
  display: grid;
  width: 875px;
  height: 875px;
  grid-template-columns: 100px 75px 75px 75px 75px 75px 75px 75px 75px 75px 100px;
  grid-template-rows: 100px 75px 75px 75px 75px 75px 75px 75px 75px 75px 100px;
}

.tile {
  box-sizing: border-box;
  border: 1px solid black;
  background-color: rgb(204, 230, 207);
}

.right {
  grid-column: 11/12;
}

.left {
  grid-column: 0/1;
}

.middle {
  grid-column: 2/11;
  grid-row: 2/11;
  border: 1px solid black;
  background-color: rgb(204, 230, 207);
}
